<div class="jumbotron text-center">
  <h1 class="display 3">{{title}}</h1>
  <p class="lead">This is your Employee Portal</p>
  <a href="/menu/request" class="btn btn-dark btn-lg">Request Time-off</a>
</div>

